---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/json
      X-CMC_PRO_API_KEY:
      - 3b681e63-005a-4a88-9963-34811960ca39
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": {
                "timestamp": "2019-07-31T22:17:51.147Z",
                "error_code": 0,
                "error_message": null,
                "elapsed": 9,
                "credit_count": 1
            },
            "data": [
                {
                    "id": 1,
                    "name": "Bitcoin",
                    "symbol": "BTC",
                    "slug": "bitcoin",
                    "num_market_pairs": 7724,
                    "date_added": "2013-04-28T00:00:00.000Z",
                    "tags": [
                        "mineable"
                    ],
                    "max_supply": 21000000,
                    "circulating_supply": 17849875,
                    "total_supply": 17849875,
                    "platform": null,
                    "cmc_rank": 1,
                    "last_updated": "2019-07-31T22:17:27.000Z",
                    "quote": {
                        "USD": {
                            "price": 10041.8520252,
                            "volume_24h": 16331707009.2499,
                            "percent_change_1h": 0.102016,
                            "percent_change_24h": 4.59782,
                            "percent_change_7d": 2.09908,
                            "market_cap": 179245803418.31683,
                            "last_updated": "2019-07-31T22:17:27.000Z"
                        }
                    }
                },
                {
                    "id": 1027,
                    "name": "Ethereum",
                    "symbol": "ETH",
                    "slug": "ethereum",
                    "num_market_pairs": 5483,
                    "date_added": "2015-08-07T00:00:00.000Z",
                    "tags": [
                        "mineable"
 [...]
