---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/map
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/json
      X-CMC_PRO_API_KEY:
      - INCORRECT_KEY
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": {
                "timestamp": "2019-07-31T00:52:27.172Z",
                "error_code": 401,
                "error_message": "This API Key is invalid.",
                "elapsed": 0,
                "credit_count": 0
            }
        }
      effective_url: https://pro-api.coinmarketcap.com/v1/cryptocurrency/map
  recorded_at: Wed, 31 Jul 2019 00:52:27 GMT
recorded_with: VCR 4.0.0
