---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/map
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accepts:
      - application/json
      X-CMC_PRO_API_KEY:
      - 3b681e63-005a-4a88-9963-34811960ca39
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": {
                "timestamp": "2019-07-31T00:37:56.728Z",
                "error_code": 0,
                "error_message": null,
                "elapsed": 12,
                "credit_count": 1
            },
            "data": [
                {
                    "id": 1,
                    "name": "Bitcoin",
                    "symbol": "BTC",
                    "slug": "bitcoin",
                    "is_active": 1,
                    "first_historical_data": "2013-04-28T18:47:21.000Z",
                    "last_historical_data": "2019-07-31T00:34:01.000Z",
                    "platform": null
                },
                {
                    "id": 2,
                    "name": "Litecoin",
                    "symbol": "LTC",
                    "slug": "litecoin",
                    "is_active": 1,
                    "first_historical_data": "2013-04-28T18:47:22.000Z",
                    "last_historical_data": "2019-07-31T00:34:01.000Z",
                    "platform": null
                },
                {
                    "id": 3,
                    "name":[...]
