// Place all the styles related to the Coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.coin-applications {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        display: inline-block;
        margin-right: 5px;
        a {
            color: black;
        }
    }
}
